.THIS .backcolour{
    background-color: grey;
}
.THIS #sideBar {
  
    width:250px;
     position: relative;
     z-index: 1;
     color: ivory;
     left: 0;
     background-color:gray;
     overflow-x: hidden;
     transition: 0.5s;
     padding-top: 15px;
 
 }
/* .THIS #btn1 {
     font-size: 20px;
     cursor: pointer;
     background-color: #111;
     color: white;
     padding: 5px 5px;
     border: none;   
     
     
 } */
 
 .THIS #main{
     margin-left:-15px;
     transition: margin-left .5s;
   padding: 16px; 
  
 }
 
/* .THIS #btn2 {
     position: absolute;
     top: 0;
     right: 25px;
     font-size: 36px;
     margin-left: 50px;
 }  */
 
 .THIS #p{
  padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 25px;
   color: #818181;
   display: block;
   transition: 0.3s;
 }
 
 .THIS #p:hover {
     color: #f1f1f1;
   }
 
 /*   .THIS #btn1:hover{
     position: absolute;
     top: 0;
     right: 25px;
     font-size: 36px;
     margin-left: 50px;
   }  */